@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  cursor:context-menu;
}

html, body {
  min-height: 100% !important;
  height: 100%;
}

/*************************************************
HEADER
*************************************************/
header {
  padding: 0px;
  background-image: url(./img/VsBg.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

header.row h2 {
  margin: 10px 0px;
}

.p1 {
  color: Tomato;
}

.p2 {
  color: DodgerBlue;
}

.vs {
  color: #f2ccff;
}

@media only screen and (max-width: 670px) {
  header.row h2 {
    font-size: 17px;
  }

  main.row {
    height: 94%;
  }
}



/*************************************************
MAIN CONTENT
*************************************************/
main {
  height: 80%;
}
section.content{
  height: 100%;
}

.players {
  height: 75%;
  width: 90%;
  cursor:cell;
}

.players h1 {
  font-size: 200px;
  cursor:cell;
}

.player1 {
  background-color: Tomato;
}

.player2 {
  background-color: DodgerBlue;
}

main input {
  width: 100%;
  margin: 8px 0;
  text-align: center;
  height: 150px;
  font-size: 100px;
  cursor:auto;
}
.btn{
  width: 100%;
}
.button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: none;
color: white;
margin: 20px 0px;
cursor:cell;
}

@media only screen and (max-width: 930px) {
  main {
    height: 85%;
  }

  .players {
    height: 90%;
    width: 90%;
    cursor:cell;
  }

  .players h1 {
    font-size: 100px;
    display: inline;
  }

  section.content{
    flex: 0 0 auto;
    width: 100%;
    height: 40%;
  }
  section.central{
    flex: 0 0 auto;
    width: 100%;
    height: 20%;
  }

  .central input{
    width: 40%;
    margin: 8px 10px;
    text-align: center;
    height: 50px;
    display: inline;
    font-size: 40px;
  }
  .central h2{
    font-size: 40px;
    display: inline;
  }


.btn{
  width: 60%;
}
  .central .button {
    display: none;
  }

  .small{
    display: inline-block;
  }
}
