@import url('https://fonts.googleapis.com/css?family=PT+Sans');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}
html, body {
    min-height: 100% !important;
    height: 100%;
}

/*************************************************
HEADER
*************************************************/
header{
  padding: 0px ;
  background-image: url(./img/VsBg.jpg);
  background-position: center;
 background-repeat: no-repeat;

}

header.row h2{
  margin: 10px 0px;
}
.p1{
  color: Tomato;
}
.p2{
  color:DodgerBlue;
}
.vs{
    color:#f2ccff;
}

@media only screen and (max-width: 670px) {
   header.row h2{
     font-size: 17px;
   }
 }
/*************************************************
MAIN CONTENT
*************************************************/
main{
  height: 80%;
}
.player1{
  background-color: Tomato;
  height: 75%;
  width: 90%;
}
